<a href="https://colab.research.google.com/github/Tarun9640/py/blob/master/Ass2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("peela Tarun Kumar")
print("20MAI0029")

peela Tarun Kumar
20MAI0029

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import Perceptron
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("carprices.csv")
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [ ]:
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [ ]:
df.tail()

    Mileage  Age(yrs)  Sell Price($)
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [ ]:
df.shape

(20, 3)

In [ ]:
x=df[['Mileage','Age(yrs)']]
y=df['Sell Price($)']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=0)

In [ ]:
x_train.shape,y_train.shape

((18, 2), (18,))

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x_train.shape,y_train.shape

((16, 2), (16,))

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
x_train.shape,y_train.shape

((14, 2), (14,))

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=0)
x_train.shape,y_train.shape

((12, 2), (12,))

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,random_state=0)
x_train.shape,y_train.shape

((10, 2), (10,))

In [ ]:
clf=Perceptron(random_state=0)

In [ ]:
clf.fit(x_train,y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty=None, random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [ ]:
pre=clf.predict(x_test)
pre

array([22000, 22000])

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pre)

array([[0, 1, 0],
       [0, 0, 0],
       [0, 1, 0]])